<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="BDD Test Suite" verbose="1" parallel="tests" thread-count="2" configfailurepolicy="continue">
	<test name="Login 1" annotations="JDK" preserve-order="true">
		<classes>
			<class name="TestRunner.runLogin" />
		</classes>
	</test>

	
</suite>